<mat-card>
    <mat-card-title>Update Product</mat-card-title>
    <form>
        <mat-form-field>
            <input matInput placeholder="Name" [(ngModel)]="product.name" name="name">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Price ($)" [(ngModel)]="product.price" name="price">
        </mat-form-field>
    </form>


    <button mat-raised-button (click)="updateProduct()" color="primary">
        Update
    </button>

    <button mat-raised-button (click)="cancel()">
        Cancel
    </button>
</mat-card>