<mat-toolbar class="footer">
    <span>
        Desenvolvido 
        <i class="material-icons v-middle" appRed>
            bug_report
        </i>
        por <strong>Alan Sousa</strong>
    </span>
</mat-toolbar>
